POSTGRES_USER=samlogistic
POSTGRES_PASSWORD=post123
POSTGRES_DB=samlogistic
DATABASE_URL=postgresql://samlogistic:post123@postgres:5432/samlogistic?schema=public
JWT_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES=7d
PORT=6001
VITE_BASE_URL=https://api.samlogistic.tn
