<p>Hi {{name}},</p>

<p>We received a request to reset your password for your Vanlog-Express account.
  If this was you, please click the button below to set a new password:</p>

<p style='text-align: center;'>
  <a
    href='{{link}}'
    style='display: inline-block; padding: 12px 24px; background-color: #3498db; color: #ffffff; text-decoration: none; border-radius: 6px;'
  >
    Reset Password
  </a>
</p>

<p>If the button above doesn’t work, copy and paste the following link into your
  browser:</p>

<p><a href='{{link}}' style='color: #3498db;'>{{link}}</a></p>

<p>Best regards,<br />The Vanlog-Express Team</p>

<p style='font-size: 12px; color: #666;'>
  This link will expire in 24 hours for security reasons. If you need further
  assistance, feel free to reach out to us.
</p>