.auth-page--header {
  width: -webkit-fill-available;
  background-color: var(--gray-50);
  position: absolute;
  z-index: 100;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.auth-page--menu {
  background-color: var(--gray-50);
  justify-content: flex-end;
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-right: 6px;
}
